.homePage{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homePage .postContents{
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: #fff;
  box-shadow: 5px 9px 15px -5px #777;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.postHeader h1{
  text-align: center;
  margin-top: 5px;
}

.postContents .postTestContainer{
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAddDeleteButton{
  display: flex;
  align-items: center;
}

.nameAddDeleteButton button{
  flex: 10%;
  background-color: #ff5a5a;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.nameAddDeleteButton button:hover{
  background-color: #a41c1c;
}

.nameAddDeleteButton h3{
  flex: 90%;
}